<h1>材料规格</h1>
    <h2>欢迎回来，{{username}}！</h2>
    <nav class="nav">
        <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/">主页</a></li>
                <li class="nav-item"><a class="nav-link" href="/edit_user_permissions">管理用户</a></li>
                <li class="nav-item"><a class="nav-link" href="/materials">材料规格</a></li>
                <li class="nav-item"><a class="nav-link" href="/manage_suppliers">产品规格</a></li>
        </ul>
    </nav>
        <a href="/logout" class="btn btn-danger">登出</a>