<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物资管理系统 - 主页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>物资管理系统</h1>
    <h2>欢迎回来，{{username}}！</h2>
    <nav class="nav">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/test_user_roles">测试用户角色</a></li>
                <li class="nav-item"><a class="nav-link" href="/edit_user_permissions">管理用户</a></li>
                <li class="nav-item"><a class="nav-link" href="/materials">材料规格</a></li>
                <li class="nav-item"><a class="nav-link" href="/manage_suppliers">产品规格</a></li>
        </ul>
    </nav>

    <a href="/logout" class="btn btn-danger">登出</a>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</div>
</body>
</html>